input[type='text'] {
  height: 30px;
  display: inline-block;
  font-weight: 200;
  border: none;
  outline: none;
  background: none;
  padding: 3px;
  padding-right: 40px;
  width: 0px;
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  color: white;
  cursor: pointer;
  /* background: url('https://www.iconsdb.com/icons/preview/white/search-13-xxl.png')
    center center no-repeat;
  background-size: 20px 20px; */
  cursor: pointer;
}

input[type='text']:focus:hover {
  border-bottom: 1px solid #f3f3f3;
}

input[type='text']:focus {
  background: none;
  width: 170px;
  z-index: 1;
  border-bottom: 1px solid #f3f3f3;
  cursor: text;
}
input[type='submit'] {
  margin-top: 5px;
  height: 40px;
  width: 40px;
  display: inline-block;
  background: url('https://www.iconsdb.com/icons/preview/white/search-13-xxl.png')
    center center no-repeat;
  text-indent: -10000px;
  background-size: 20px 20px;
  border: none;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 210;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.9s ease;
}
#search_submit {
  position: absolute;
  top: 15px;
  right: 8px;
  cursor: pointer;
  transition: opacity 0.9s ease;
}

input[type='submit']:hover {
  opacity: 0.8;
}

input[type='submit']:focus {
  outline: none;
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}

@media all and (min-width: 1240px) {
  input[type='text']:focus {
    width: 250px;
  }
}
